- var Moment = require("moment")
.container
  include top-content.jade
  .content
    - for (var i in data.posts) {
    -  var cPost = data.posts[i];
    -  var tags = (cPost.tags = cPost.tags || []).map(function (c) { return "tag-" + c; }).join(" ");
    div(class="post " + tags)
      a(href=cPost.url).post-title
        h1 #{cPost.title}
      .post-info
        - var displayDate = Moment(cPost.date).format("dddd, MMMM D YYYY");
        span.date #{displayDate}
        = " "
        | by #{cPost.by}
        - if (cPost.tags.length) {
        span.tags
          - for (var i in cPost.tags) {
          = " | "
          span= cPost.tags[i]
          - }
        - }
      div.post-content.markdown !{cPost.markdown}
      div.post-bottom-shadow
      div.post-bottom
    - }
    .pagination
      - if (data.page.previous) {
      a.page.prev(href=config.blog.path + '/page/' + data.page.previous) « Previous page
      - }
      - if (data.page.next) {
          a.page.prev(href=config.blog.path + '/page/' + data.page.next) Next page »
      - }
  include footer.jade
