div.footer.text-center &copy; 2014 • #{config.site.title} - Created with JavaScript and
  = " "
  i.fa.fa-heart
  = " "
  from Romania. Powered by
  = " "
  a(href="http://bloggify.github.com") Bloggify
  = "."
  h1.text-center.social
    a(href="http://github.com/#{config.user.name}", target="blank")
      i.fa.fa-github-alt
    a(href="http://bitbucket.com/#{config.user.name}", target="blank")
      i.fa.fa-bitbucket
    a(href="http://twitter.com/#{config.user.name}", target="blank")
      i.fa.fa-twitter
    a(href="http://youtube.com/#{config.user.name}", target="blank")
      i.fa.fa-youtube
