- var Moment = require(config.pathContent + config.theme + "/node_modules/moment")
include top-content.jade
.container
  .content
    - for (var i in data.articles) {
    -  var cArticle = data.articles[i];
    -  var tags = (cArticle.tags = cArticle.tags || []).map(function (c) { return "tag-" + c; }).join(" ");
    -  cArticle.fullUrl = "http://" + lien.req.headers.host + cArticle.url;
    div(class="article " + tags)
      h1.article-title
        a(href=cArticle.url) #{cArticle.title}
      .article-info.text-center
        | By #{cArticle.by}
        = " • "
        - var displayDate = Moment(cArticle.date).format("MMMM D, YYYY");
        span.date #{displayDate}
      div.article-content.markdown !{cArticle.content}
      - if (cArticle.tags.length) {
        span.tags.pull-left
          i.fa.fa-tags
          = " "
          - for (var i in cArticle.tags) {
          span= cArticle.tags[i]
          - }
      - }
        span.social.pull-right
          - var fullUrl = cArticle.fullUrl;
          a.twitter(href="http://twitter.com/intent/tweet?text=" + encodeURIComponent(cArticle.title) + "&url=" + fullUrl)
            i.fa.fa-twitter
          a.facebook(href="https://www.facebook.com/sharer/sharer.php?u=" + fullUrl)
            i.fa.fa-facebook
          a.gplus(href="https://plus.google.com/share?url=" + fullUrl)
            i.fa.fa-google-plus
    - }
    .pagination
      - if (data.page.previous) {
      a.page.prev(href=config.blog.path + '/page/' + data.page.previous)
        i.fa.fa-angle-left
        = " "
        | Newer articles
      - }
      - if (data.page.previous || data.page.next) {
      span.current-page
        | Page #{data.page.active} of #{data.page.count}
      - }
      - if (data.page.next) {
      a.page.next(href=config.blog.path + '/page/' + data.page.next)
        | Older articles
        = " "
        i.fa.fa-angle-right
      - }

include footer.jade
